body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #283136;
  line-height: 24px;
  background-color: ffffff;
}

h1 {
  font-weight: 500;
  font-size: 55px;
  color: #000000;
  text-align: center;
  padding-bottom: 60px;
}

.product-title {
  font-size: 24px;
}

.main-header {
  background-color: #eeeeee;
  margin: 0 auto;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.header-top {
  padding: 1px 0 12px 0;
  text-transform: uppercase;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.product-range-main {
  margin: 80px 0;
}

.logo-header {
  float: left;
  margin-top: 45px;
  margin-right: 142px;
  width: 160px;
}

.main-navigation {
  float: left;
}

}
.main-navigation ul {
  margin: 0;
  padding: 0;
}

.main-navigation li a {
  display: block;
  margin: 5px 20px;
  padding-top: 55px;
  text-decoration: none;
  color: #000000;
}

.main-navigation li a:hover {
  color: #fb565a;
}

.main-navigation li a:active{
  color: #a6a6a6;
}

.main-navigation li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.user-block {
  position: relative;
  float: right;
  width: 100
}

.user-block::before {
  content: "";
  position: absolute;
  left: 3px;
  bottom: 9px;
  width: 16px;
  height: 13px;
  background: url("../img/cart-icon.png") no-repeat 0 0;
}


.user-block .cart {
  display: block;
  margin: 75px 10px 5px 30px;
  text-decoration: none;
}

.slider {
  position: relative;
}

.slider-slides .slider-slide {
	min-height: 410px;
	width: 1160px;
	float: left;
	background-color: #eee;
}

.slider-slides {
	width: 300%;
	transition: transform .8s ease;
}

.slider-inner {
	overflow: hidden;
}

.slider-controls {
  position: absolute;
  bottom: -250px;
  left: 52%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 5;
}

.slider-controls label {
	display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 3px;
  background: #fff;
  border: 3px solid #fff;
  vertical-align: top;
  cursor: pointer;
  border-radius: 50%;
	transition: background-color .2s;
}

input[id^="btn-"] {
  display: none;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color:#c1c1c1;
}

#btn-1:checked ~ .slider-inner .slider-slides {
  transform:translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
  transform:translate(-1160px);
}

#btn-3:checked ~ .slider-inner .slider-slides {
  transform:translate(-2320px);
}

.btn {
  display: block;
  width: 129px;
  padding: 16px;
  background: #fb565a;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}

.btn-slide {
  width: 209px;
}

.btn-write-us {
  width: 189px;
  margin-top: 35px;
}

.btn-form {
  width: 262px;
}

.btn-buy {
  width: 168px;
  margin: 0 auto;;
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  background-color: #d7373b;
  color: #e37376;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:hover {
  background-color: #00bc6c;
}

.btn-green:active {
  background: #00aa62;
  color: #4dc491;
  box-shadow: inset 0 3px 0 0 #009958;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:hover {
  background-color: #eab534;
}

.btn-yellow:active {
  background-color: #e5a722;
  color: #edc265;
  box-shadow: inset 0 3px 0 0 #ce961f;
}

.slide-1 {
  background: url("../img/slide1.png") no-repeat 100% 100%;
}

.slide-2 {
  background: url("../img/slide2.png") no-repeat 100% 100%;
}

.slide-3 {
  background: url("../img/slide3.png") no-repeat 100% 100%;
}

.slide-text .motto {
  font-size: 55px;
  line-height: 55px;
}

.slide-text {
  float: left;
  width: 375px;
  margin-top: 52px;
}

.product-unit {
  display: inline-block;
  margin-right: 100px;
  vertical-align: middle;
}

.product-unit:last-child {
  margin-right: 0;
}

.product-description {
  width: 300px;
}

.about-us {
  margin: 80px 0;
}

.about-us-performed {
  float: left;
  width: 660px;
}

.about-us-achievements {
  float: right;
  width: 360px;
  text-align: center;
}

.about-us-achievements .our-experience {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.about-us .who-we-are {
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 35px;
  padding-top: 35px;
}

.about-us .principle {
  margin-bottom: 40px;
}

.about-us-performed .our-job {
  font-weight: bold;
  text-transform: uppercase;
}

.about-us-performed ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 15px;
}

.about-us-performed ul li {
  position: relative;
  padding: 10px 0;
  padding-left: 35px;
}

.about-us-performed ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 21px;
  width: 25px;
  height: 2px;
  background: url("../img/list-style-image.png") no-repeat 0 0;
}

.about-us .achievements {
  display: inline-block;
  width: 100px;
  margin: 50px 20px 0 0;
  text-align: left;
}

.about-us .achievements:last-child {
  margin-right: 0;
}

.about-us-achievements img {
  margin-bottom: 37px;
}

.about-us-achievements .interest {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}

.partners {
  margin: 80px 0;
}

.partners a {
  display: inline-block;
  text-align: center;
  width: 260px;
  opacity: 0.2;
  margin-right: 35px;
}

.partners a:last-child {
  margin-right: 0;
}

.partners a:hover {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}


/*Стили каталога*/

 .current-page {
  position: relative;
}

.current-page:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fb565a;
  left: 0;
  bottom: -5px;
}

.filter-group {
  float: left;
  margin-top: 60px;
  width: 260px;
}

.catalog-filter-block {
  margin-bottom: 54px;
}

.catalog-filter-block .filter-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-bottom: 32px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 30px;
  background: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .bar {
  margin-top: 40px;
  width: 65%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle:hover {
  background: #d7dcde;
}

.range-controls .max-toggle {
  left: 145px;
}

.price-controls {
  position: relative;
}

.price-controls input {
  width: 60px;
  padding: 7px 10px;
  margin-left: 10px;
  border: none;
  background: #f1f1f1;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #283136;
  border-radius: 5px;
}

.max-price-absolute {
  position: absolute;
  top: 0;
  right: 0;
}

.price-controls label {
  display: block;
  margin-bottom: 5px;
}

fieldset {
 border: 0 none;
 padding-left: 0;
}

fieldset input[type="radio"]+label, input[type="checkbox"]+label {
  display: block;
  position: relative;
  padding: 10px 0;
  padding-left: 40px;
}

fieldset input[type="radio"]+label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 20px;
  height: 20px;
  border: 4px solid #d7dcde;
  border-radius: 50%;
}

fieldset input[type="radio"]:checked+label:after {
  content: "";
  position: absolute;
  left: 11px;
  top: 21px;
  width: 6px;
  height: 6px;
  background: #d7dcde;
  border-radius: 50%;
}

fieldset input[type="checkbox"]+label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 20px;
  height: 20px;
  border: 4px solid #d7dcde;
  border-radius: 3px;
}

fieldset input[type="checkbox"]:checked+label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 14px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: url("../img/checkbox-on.png") no-repeat 0 0;
}

fieldset input[type="radio"], input[type="checkbox"] {
  display: none;
}

legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}



.product-range-catalog {
  float: right;
  width: 764px;
  margin-top: 60px;
}

.sort {
  margin-bottom: 38px;
}

.sort a {
  text-decoration: none;
  margin-right: 20px;
  font-size: 14px;
  color: #283136;
  text-transform: uppercase;
}

.sort .sort-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 266px;
}

.product-item {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 37px;
}

.product-item:nth-child(2n) {
  margin-right: 0;
}

.product-item .item-action {
  position: absolute;
  bottom: 6px;
  width: 300px;
  height: 140px;
  text-align: center;
  background: #fff;
  padding: 30px;
  padding-top: 15px;
  background-color: #eeeeee;
  text-align: center;
}

.item-action .item-page {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.paginator {
  margin: 23px 0 0 40px;
  padding-bottom: 60px;

}

.paginator a {
  display: inline-block;
  min-width: 38px;
  padding: 10px 0;
  margin-right: 5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background: #eeeeee;
  border-radius: 3px;
}

.paginator .pgn-current {
  width: 35px;
  padding: 8px 0;
  border: 2px solid #dbdbdb;
  background: #fff;
  pointer-events: none;
}

.paginator .pgn-next {
 padding-left: 85px;
 padding-right: 85px;
}

/*Стили футера*/

.map {
  background: url("../img/map.jpg") no-repeat 50% 0;
  min-height: 416px;
}

.map-wrapper {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

.map .map-contacts {
  width: 275px;
  height: 250px;
  position: absolute;
  top: 60px;
  background: #ffffff;
  padding: 27px 22px;
  margin-left: 140px;
}

.map-contacts .map-contacts-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;

  line-height: 3.8;
}

.map-contacts .map-contacts-contact {
  text-decoration: none;
  color: #666666;

}

.footer-social {
  width: 360px;
  float: left;
}

.footer-friendship {
  float: right;
  width: 544px;
}

.friend {
  font-size: 36px;
  font-weight: bold;
}

.footer-content {
  padding: 57px 0 70px 0;
}

.footer-social .btn-social {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-right: 10px;
  background-color: #e1e1e1;
  vertical-align: middle;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}

.footer-social .btn-social:hover {
  background-color: #e74246;
}

.footer-social .btn-social:active {
  background-color: #d7373b;

}

.social-vk {
  width: 26px;
  height: 15px;
  background-position: -205px -8px;
}

.social-fb {
  width: 12px;
  height: 16px;
  background-position: -5px -11px;
}

.social-inst {
  width: 21px;
  height: 21px;
  background-position: -102px -11px;
}

.contact-form {
  display: none;
}
